* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #21213c;
}

.header_container {
  max-width: 1904px;
  margin: 0 auto;
  padding: 0 32px 0 8px;
  display: flex;
  align-items: center;
}

.recent_container {
  max-width: 1904px;
  margin: 0 auto;
  padding: 0 32px 0 8px;
}

.footer_container {
  position: relative;
  display: flex;
  align-items: start;
  max-width: 1900px;
  padding: 0 10px;
  margin: 0 auto;
  justify-content: space-between;
}

header {
  padding: 16px 0 0 0;
}
header nav {
  margin-left: 27px;
  padding: 12px 17px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 18px;
  background-image: linear-gradient(#2b2b44, #2b2b4f);
}
header nav .nav_link {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.266;
  font-weight: 400;
  transition: 0.2s ease;
}
header nav .nav_link:hover {
  color: #feb341;
}
header button {
  margin-left: auto;
  width: 67px;
  height: 67px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
header button img {
  width: 100%;
}
header .sign_in {
  margin-left: auto;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.625;
  border-radius: 7px;
  background-color: #31315a;
}

.recent h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(99, 99, 115);
  line-height: 1.188;
  font-weight: 400;
}
.recent .recent_cards {
  display: flex;
  align-items: center;
  gap: 8px;
}
.recent .recent_cards .recent_card {
  position: relative;
  text-align: center;
  width: 104px;
  padding: 17px 9px 8px 9px;
  border-radius: 15px 15px 0px 15px;
  background-image: linear-gradient(45deg, rgb(32, 32, 105) 0%, rgb(32, 32, 105) 100%);
}
.recent .recent_cards .recent_card .card_line {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0 0 2px 2px;
  width: 47px;
  height: 3px;
  background-color: #4545ff;
}
.recent .recent_cards .recent_card img {
  width: 100%;
}
.recent .recent_cards .recent_card h6 {
  font-size: 10px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(228, 228, 241);
  line-height: 1.141;
}

.main_menu {
  max-width: 1440px;
  margin: 0 auto 128px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
}
.main_menu .main_menu_btn {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 13px 20px;
  border-radius: 7px;
  background-color: #31315a;
  font-size: 14.322px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.257;
}
.main_menu .slider-box {
  width: 90%;
  margin: 25px auto;
}
.main_menu .slider-box label, .main_menu .slider-box input {
  border: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 30%;
}
.main_menu .slider-box input {
  width: 70%;
}
.main_menu .slider-box .slider {
  margin: 25px 0;
}

.rendom_accounts {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.rendom_accounts h3 {
  margin-bottom: 45px;
  font-size: 30px;
  font-family: "Arial", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.967;
}
.rendom_accounts .rendom_accounts_card {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
.rendom_accounts .rendom_accounts_card img {
  width: 100%;
}
.rendom_accounts .rendom_accounts_card h4 {
  font-size: 13px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.468;
  margin-bottom: 20px;
}
.rendom_accounts .rendom_accounts_card .price {
  display: inline-block;
  position: relative;
  border: none;
  background-image: linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 17.369px;
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.497;
}
.rendom_accounts .rendom_accounts_card .price .discount {
  white-space: nowrap;
  position: absolute;
  top: -18px;
  left: 50%;
  font-size: 13px;
  font-family: "Myriad Pro", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.465;
  padding: 6px 11px;
  border-radius: 6px;
  background-color: rgb(255, 61, 61);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
}
.rendom_accounts .rendom_accounts_card .price .discount::before {
  content: "";
  position: absolute;
  width: 80%;
  top: 13px;
  left: 8px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-11deg);
}
.rendom_accounts .rendom_bottom {
  margin-top: 58px;
}
.rendom_accounts .rendom_accounts_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 500px;
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card {
  width: 250px;
  text-align: center;
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card img {
  width: 100%;
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card h4 {
  font-size: 13px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.468;
  margin-bottom: 20px;
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card .price {
  display: inline-block;
  position: relative;
  border: none;
  background-image: linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 17.369px;
  font-family: "Rubik", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.497;
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card .price .discount {
  white-space: nowrap;
  position: absolute;
  top: -18px;
  left: 50%;
  font-size: 13px;
  font-family: "Myriad Pro", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.465;
  padding: 6px 11px;
  border-radius: 6px;
  background-color: rgb(255, 61, 61);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.75);
}
.rendom_accounts .rendom_accounts_cards .rendom_accounts_bottom_card .price .discount::before {
  content: "";
  position: absolute;
  width: 80%;
  top: 13px;
  left: 8px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-11deg);
}

#shopping {
  height: 100vh;
  background-color: #494970;
}
#shopping .shopping_modal {
  padding-bottom: 34px;
  text-align: center;
  border-radius: 5px;
  background-color: #242442;
  width: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shopping .shopping_modal .shopping_modal_head {
  border-radius: 5px 5px 0 0;
  background-color: #1c1d39;
  padding: 14px 0;
  position: relative;
}
#shopping .shopping_modal .shopping_modal_head h4 {
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
  font-weight: bold;
  line-height: 1.083;
  text-align: center;
}
#shopping .shopping_modal .shopping_modal_head .modal_close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
#shopping .shopping_modal p {
  margin: 10px 0 17px 0;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
  line-height: 1.625;
  font-weight: 400;
}
#shopping .shopping_modal form {
  display: flex;
  flex-direction: column;
}
#shopping .shopping_modal form input {
  text-align: center;
  padding: 11px 0;
  border: none;
  margin: 0 auto 26px auto;
  width: calc(100% - 110px);
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(50, 50, 90);
  font-weight: bold;
  line-height: 1.083;
  border-radius: 11px;
  background-color: rgb(25, 25, 33);
}
#shopping .shopping_modal form input:focus {
  outline: none;
}
#shopping .shopping_modal form button {
  padding: 13px 0;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  width: calc(100% - 110px);
  font-size: 28px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.929;
  border-radius: 4px;
  background-color: rgb(232, 193, 138);
}

#error {
  height: 100vh;
  background-color: #1b1b3a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#error .error_block .error_img {
  transform: translateX(-50px);
}
#error .error_block h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(173, 173, 219);
  line-height: 1.444;
  font-weight: 400;
}
#error .error_block h4 {
  margin-bottom: 19px;
  font-size: 27px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(173, 173, 219);
  line-height: 1.444;
  font-weight: 400;
}
#error .error_block button {
  margin: 0 auto;
  cursor: pointer;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: transparent;
  border: 1px solid rgb(198, 198, 219);
  border-radius: 14px;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
  line-height: 1.3;
}

#accardion_wrapper {
  max-width: 1460px;
  margin: 120px auto 585px auto;
  padding: 32px 52px;
  background-color: #242442;
  border-radius: 10px;
}
#accardion_wrapper .accardion_head {
  margin-bottom: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
#accardion_wrapper .accardion_head h4 {
  font-size: 35px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  font-weight: bold;
}
#accardion_wrapper .accardion_block {
  margin-bottom: 15px;
  background-color: rgb(28, 29, 57);
  border-radius: 20px;
}
#accardion_wrapper .accardion_block button {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 15px 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 38px;
}
#accardion_wrapper .accardion_block button .button_open {
  display: none;
}
#accardion_wrapper .accardion_block button h5 {
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.75;
  font-weight: 400;
}
#accardion_wrapper .accardion_block p {
  height: 278px;
  display: none;
  padding-left: 100px;
  padding-right: 38px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 2.333;
  font-weight: 400;
}
#accardion_wrapper .accardion_block.active button .button_close {
  display: none;
}
#accardion_wrapper .accardion_block.active button .button_open {
  display: block;
}
#accardion_wrapper .accardion_block.active button h5 {
  color: rgb(255, 150, 0);
}
#accardion_wrapper .accardion_block.active p {
  display: block;
}
#accardion_wrapper .accardion_text {
  margin-top: 130px;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.75;
}
#accardion_wrapper .accardion_text a {
  color: #feb341;
}

#payment {
  max-width: 1440px;
  border-radius: 10px;
  margin: 100px auto 110px auto;
  background-color: #242442;
  display: flex;
  align-items: stretch;
  gap: 56px;
}
#payment .payment_text {
  padding: 28px 33px;
}
#payment .payment_text .payment_text_head {
  display: flex;
  gap: 50px;
}
#payment .payment_text .payment_text_head .payment_text_right {
  max-width: 560px;
  padding: 26px 37px;
  border-radius: 10px;
  background-color: rgb(33, 33, 60);
}
#payment .payment_text .payment_text_head .payment_text_right h3 {
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.958;
  margin-bottom: 47px;
}
#payment .payment_text .payment_text_head .payment_text_right h4 {
  font-size: 30px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.767;
  margin-bottom: 5px;
}
#payment .payment_text .payment_text_head .payment_text_right p {
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}
#payment .payment_text p {
  max-width: 854px;
  margin-top: 60px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}
#payment .payment_text h2 {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.958;
}
#payment .payment_text h6 {
  margin-bottom: 7px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  max-width: 854px;
}
#payment .payment_form {
  width: 454px;
  padding: 33px;
  border-radius: 10px;
  background-color: #2c2c4d;
}
#payment .payment_form .form_head {
  margin-bottom: 23px;
  border-radius: 10px;
  border: 1px solid #d9d9e8;
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
#payment .payment_form .form_head h2 {
  font-size: 48px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(185, 185, 241);
  font-weight: bold;
  line-height: 0.479;
}
#payment .payment_form .form_head h3 {
  padding: 8px 4px;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.479;
  border-radius: 10px;
  background-color: rgb(253, 157, 157);
}
#payment .payment_form .form_head h4 {
  font-size: 24.58px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(114, 114, 123);
  line-height: 0.936;
  position: relative;
}
#payment .payment_form .form_head h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  height: 2px;
  background-color: #fd9d9d;
  transform: rotate(-12deg);
}
#payment .payment_form .oplate h4 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
  line-height: 1.643;
  margin-top: 25px;
  margin-bottom: 15px;
}
#payment .payment_form .oplate span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgb(198, 198, 219);
  font-size: 10px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
  line-height: 1.643;
}
#payment .payment_form .oplate .banks {
  display: flex;
  align-items: start;
  gap: 10px;
}
#payment .payment_form .oplate .banks a {
  width: 55px;
  height: 58px;
  text-align: center;
  display: inline-block;
  padding: 4px 7px 2px 7px;
  border: 1px solid rgb(198, 198, 219);
  border-radius: 10px;
  transition: 0.2s ease;
}
#payment .payment_form .oplate .banks a img {
  width: 100%;
  height: 70%;
}
#payment .payment_form .oplate .banks a h5 {
  transition: 0.2s ease;
  font-size: 9px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(198, 198, 219);
}
#payment .payment_form .oplate .banks a:hover {
  border: 1px solid rgb(211, 165, 116);
  border-radius: 10px;
  background-color: rgb(71, 57, 46);
}
#payment .payment_form .oplate .banks a:hover h5 {
  color: rgb(226, 171, 112);
}
#payment .payment_form .oplate input {
  height: 62px;
  padding: 15px 10px;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(44, 44, 77);
  font-weight: bold;
  line-height: 0.767;
  border-radius: 10px;
  background-color: rgb(25, 25, 33);
}
#payment .payment_form .oplate input:focus {
  outline: none;
}
#payment .payment_form .oplate h6 {
  margin-top: 40px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.143;
}
#payment .payment_form .oplate button {
  cursor: pointer;
  width: 100%;
  height: 64px;
  border: none;
  font-size: 36px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.639;
  border-radius: 10px;
  background-color: rgb(253, 187, 86);
}

footer {
  overflow: hidden;
  padding: 132px 56px 80px 56px;
  background-color: #242442;
}
footer .footer_left {
  display: flex;
  gap: 40px;
  align-items: start;
}
footer .footer_left .footer_logo img {
  transform: translateY(-31px);
}
footer .footer_left .logo_text {
  position: relative;
  z-index: 5;
}
footer .footer_left .logo_text h3 {
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.278;
}
footer .footer_left .logo_text .top_link {
  display: block;
  margin-top: 6px;
  margin-bottom: 22px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  color: rgb(165, 165, 165);
  line-height: 1.278;
  font-weight: 400;
}
footer .footer_left .logo_text .footer_link {
  display: block;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  color: rgb(165, 165, 165);
  line-height: 1.278;
  font-weight: 400;
  margin-bottom: 11px;
}
footer .footer_left .logo_text .copiration {
  display: inline-block;
  margin-top: 13px;
  margin-bottom: 91px;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.958;
  padding: 10px 18px;
  border-radius: 8px;
  background-color: rgb(15, 2, 193);
  background-image: linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(15, 2, 193) 0%, rgb(65, 117, 235) 100%);
}
footer .footer_left .logo_text .social_media {
  display: flex;
  align-items: center;
  gap: 14px;
}
footer .footer_left .logo_text .social_media p {
  margin-right: 12px;
  font-size: 18px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(165, 165, 165);
  line-height: 1.278;
}
footer .footer_left .logo_text .social_media a {
  cursor: pointer !important;
}
footer .footer_center {
  position: absolute;
  bottom: -20%;
  left: 20%;
  right: 0;
  margin: 0 auto;
}
footer .footer_right .footer_right_text {
  padding: 60px 43px;
  display: inline-block;
  border-radius: 14px;
  background-color: #191939;
}
footer .footer_right p {
  margin-top: 135px;
  font-size: 12.343px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(140, 140, 140);
  line-height: 1.539;
}/*# sourceMappingURL=style.css.map */